{% extends "main.html" %}
{% block content %}

	<div class="row">
		<div class="col-lg-3"></div>
		
		<div class="col-lg-6">		
			
			<div class="view">
				<h1>{{candy.name}}</h1>
				<img class="img-responsive" src="{{candy.image}}" alt="{{candy.name}}"/></br>
				<p>{{candy.description}}</p>
				<h4>Doctor Cavity's Score : </h4>
				<div class="candyScore">{{candy.cavity}}</div>
				   <p> After eating this candy your teeth will look like this : </p>
				   <!-- If good score show a good tooth image, else show a bad tooth image-->
				  {% if candy.cavity <= 3 %}
					<img class="img-thumbnail tooth" src="/static/images/tooth.png" width="150" height="200" />
				  {% else %}
					<img class="img-thumbnail tooth" src="/static/images/blacktooth.png" width="150" height="200" 
					style="opacity:calc( {{candy.cavity}} / 10 );"/>	
				  {% endif %}
			</div>
			
		</div>
		
		<div class="col-lg-3"></div>
	</div>

<!-- Private Options -->
	
	<div class="row"> <!-- Options Buttons -->
		<div class="col-lg-4"></div>
		
		<div class="col-lg-4">
			<div class="btn-group">
			<!-- Edit this candy -->
			  <button type="button" class="btn btn-primary" id="edit">
			  <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;EDIT</button>
			 <!-- Delete this candy -->
			  <button type="button" class="btn btn-danger" id="delete">
			  <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;DELETE
			  </button>
			</div>
		</div>
		
		<div class="col-lg-4"></div>
	</div>

<script>
$(document).ready(function(){
	// Go to delete page
	$("#delete").click(function(){
		window.location.href = "/delete/candy/{{candy.id}}";
	});
	
	// Go to edit page
	$("#edit").click(function(){
		window.location.href = "/edit/candy/{{candy.id}}";
	});
});
</script>


{% endblock %}